@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --rich-black: #000000;
  --midnight-blue: #0d1321;
  --prussian-blue: #1d2d44;
  --light-gray: #3e5c76;
  --lake-blue: #748cab;
  --teal: #00b7c7;
  --egg-shell: #f0ebd8;
  --muted-orange: #FF851B;
  --white: #FFFFFF;
}

* {
  /* border: 1px solid red; */
  font-family: 'Montserrat';
  box-sizing: border-box;
}

@layer components {
  .card {
    display: flex;
  }
}